#main {
  text-align: center;
}

#info {
  display: flex;
  align-items: stretch;
}

#bioImg img {
  max-height: 10em;
}

#bioImg {
  flex-growth: 5;
}

#bioContent {
  flex-growth: 7;
}

#belowBio {
  display: inline-flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: row wrap;
}

#notSide {
  flex: 7;
  display: inline-flex;
  flex-direction: column;
}

#notSide div {
  flex-grow: 1;
}

#blogContent {
  flex: 3;
}

#blogs {
  display: flex;
  flex-direction: column;
}

#blogID3 {
  order: 1;
}

#blogID2 {
  order: 0;
}

#blogID1 {
  order: -1;
}

#latestVideo {
  border: 0;
}

#blogImageDiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px;
}

.blogImage {
  width: 30%;
  height: 30%;
  margin: auto;
}

#code iframe {
  width: 820px !important;
}

@media only screen and (max-width: 1200px) {
  td {
    display: inline-block;
    width: 100% !important;
  }

  #bioImg img {
    max-height: 15em !important;
  }

  #belowBio {
    flex-direction: column;
  }

  #info {
    flex-direction: column;
  }

  .indent {
    text-indent: 0em !important;
  }
}
